@import url("./text.style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-rgb: 255, 255, 255;
  --bg-secondary-rgb: 0, 0, 0;
  --bg-highlight-rgb: 110, 160, 220;

  --text-primary-rgb: 0, 0, 0;
  --text-secondary-rgb: 255, 255, 255;

  --text-highlight-rgb: 110, 160, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-rgb: 0, 0, 0;
    --bg-secondary-rgb: 255, 255, 255;

    --text-primary-rgb: 255, 255, 255;
    --text-secondary-rgb: 0, 0, 0;
    --text-highlight-rgb: 110, 160, 220;
  }
} */

@layer components {
  .button,
  button {
    --_bg: rgb(103, 103, 103);
    --_color: white;

    background-color: var(--_bg);
    color: var(--_color);

    @apply px-8 py-1 rounded;
  }

  .button.highlight,
  button.highlight {
    --_bg: rgb(var(--bg-highlight-rgb));
  }

  .bg-primary {
    background-color: rgb(var(--bg-primary-rgb));
  }
  .bg-secondary {
    background-color: rgb(var(--bg-secondary-rgb));
  }

  .text-primary {
    color: rgb(var(--text-primary-rgb));
  }

  .text-secondary {
    color: rgb(var(--text-secondary-rgb));
  }

  .primary {
    @apply text-primary bg-primary;
  }

  .secondary {
    @apply text-secondary bg-secondary;
  }

  .text-highlight {
    color: rgb(var(--text-highlight-rgb));
  }
}

html {
  --unit: 20px;
  --screenUnit: min(calc(100vw * 0.02), var(--unit));
  --_screenUnit: max(14px, var(--screenUnit));
  --_unit: var(--_screenUnit);

  font-size: var(--_unit);

  @apply secondary;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

/* body {
  background: rgb(var(--bg-highlight-rgb));
} */

/* body > * {
  animation: appear 1.5s linear;
} */
/* 
body:before {
  --units: 4rem;

  content: "";

  width: var(--units);
  height: var(--units);
  margin: calc(var(--units) / -2);

  animation: fade-out 1s 0.5s linear, pulse 0.8s 0.25s linear infinite;

  pointer-events: none;

  @apply fixed top-1/2 left-1/2 bg-contain bg-[url('/logo-lg.webp')];
} */
