@import url("./text.style.css");
@import url("./animation.style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-rgb: 255, 255, 255;
  --bg-secondary-rgb: 0, 0, 0;
  --bg-highlight-rgb: 110, 160, 220;

  --text-primary-rgb: 0, 0, 0;
  --text-secondary-rgb: 255, 255, 255;

  --text-highlight-rgb: 110, 160, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-rgb: 0, 0, 0;
    --bg-secondary-rgb: 255, 255, 255;

    --text-primary-rgb: 255, 255, 255;
    --text-secondary-rgb: 0, 0, 0;
    --text-highlight-rgb: 110, 160, 220;
  }
} */

@layer components {
  .button,
  button {
    --_bg: rgb(103, 103, 103);
    --_color: white;

    background-color: var(--_bg);
    color: var(--_color);

    @apply px-8 py-1 rounded;
  }

  .button[disabled],
  button[disabled] {
    @apply pointer-events-none opacity-40;
  }

  .button.highlight,
  button.highlight {
    --_bg: rgb(var(--bg-highlight-rgb));
  }

  .bg-primary {
    background-color: rgb(var(--bg-primary-rgb));
  }
  .bg-secondary {
    background-color: rgb(var(--bg-secondary-rgb));
  }
  .bg-highlight {
    background-color: rgb(var(--bg-highlight-rgb));
  }

  .text-primary {
    color: rgb(var(--text-primary-rgb));
  }

  .text-secondary {
    color: rgb(var(--text-secondary-rgb));
  }

  .primary {
    @apply text-primary bg-primary;
  }

  .secondary {
    @apply text-secondary bg-secondary;
  }

  .highlight {
    @apply text-secondary bg-highlight;
  }

  .text-highlight {
    color: rgb(var(--text-highlight-rgb));
  }
}

.scrollable::-webkit-scrollbar,
.scrollable::-moz-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
.scrollable::-webkit-scrollbar-track,
.scrollable::-moz-scrollbar-track {
  @apply bg-transparent;
}
.scrollable::-webkit-scrollbar-thumb,
.scrollable::-moz-scrollbar-thumb {
  @apply bg-highlight rounded;
}

html {
  --unit: 20px;
  --screenUnit: min(calc(100vw * 0.02), var(--unit));
  --_screenUnit: max(14px, var(--screenUnit));
  --_unit: var(--_screenUnit);

  font-size: var(--_unit);

  @apply secondary w-screen overflow-x-hidden;
}

html.custom-scroll {
  @apply scrollable;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
